#notero-prefpane {
  width: 580px;
}

#notero-prefpane description {
  font-size: 12px;
}

#notero-prefpane groupbox:last-of-type {
  margin-bottom: 3em;
}

#notero-prefpane label.text-link {
  margin: 0;
}

#notero-notionDatabaseError {
  color: darkred;
}
