.notero-error {
  color: var(--accent-red);
  white-space: normal;
}

.notero-groupbox hbox > :not(:last-child) {
  margin-inline-end: 5px;
}

.notero-groupbox vbox > * {
  max-width: 100%;
}

.notero-margin-block-start {
  margin-block-start: 0.5em;
}

.notero-margin-block-end {
  margin-block-end: 0.5em;
}

#notero-notionDatabase {
  overflow: hidden;
}

#notero-syncConfigsTable-container {
  height: 250px;
  max-height: 250px;
}
