#notero-notionToken {
  flex: 1;
}

#notero-notionDatabase {
  overflow: hidden;
}

#notero-notionDatabaseError {
  color: var(--accent-red);
  white-space: normal;
}

#notero-syncConfigsTable-container {
  height: 250px;
  max-height: 250px;
}
