name: Crowdin Translations

on:
  push:
    branches: [main]
  schedule:
    - cron: '34 12 * * *' # Run every day at 12:34 UTC
  workflow_dispatch:

jobs:
  crowdin:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: true
          download_translations: true
          create_pull_request: true
          commit_message: 'feat(localization): New Crowdin translations'
          pull_request_title: 'feat(localization): New Crowdin translations'
          project_id: ${{ vars.CROWDIN_PROJECT_ID }}
          token: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
